.itemContainer {
  padding: 0 36px;
}

.editInput {
  border: 0;
  outline: none;
  width: 100%;
  cursor:text;
}

.button {
  display: inline;
  margin: 0 6px;
  cursor: pointer;
  color: #4c5226;
}

.button:hover {
  color: black;
}

.item {
  height: 40px;
  width: 100%; 
  background:white;
  margin: 4px 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.completed {
  background: #b0b39d;
  text-decoration: line-through;
}

.nameColumn {
  margin-left: 15px;
  font-size: 14px;
  width: 80%;
  display: flex;
}

.actionsColumn {
  margin-right: 12px;
  width: 20%;
  display: flex;
  justify-content: end;
}
