body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background: #dde0c1;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box
}

.responsive {
  padding: 5% 30%;
}


@media (max-width:900px) {
  .responsive {
    padding: 5%;
  }
}